<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Subscription System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body { /* page layout - desktop version */
            display: grid;
            grid-template-columns: 4fr;
            grid-template-rows: 0.2fr 3fr 0.1fr;
            grid-gap: 1rem; 
            height:100vh;
            width:100%;

            grid-template-areas: 
                "header"
                "main"
                "footer";

    
    </style>

</head>
<body>
    
    <header> 
        <h1> <a href="/">Email Subscription System demo</a> </h1>  
    </header>
    <main>
        {{{body}}}
    </main>
    
    <footer>
        <p>made by thomas himawan</p>
    </footer>
</body>
</html>